<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="img/weathericon.png">
        <link rel="stylesheet" href="/css/styles.css">        
    </head>
    <body>
        <div class="main-content">
            {{>header}}            
            <img class="imgAll" src="/img/weathericon.png">
            
            <p>{{description}}</p>
            <p id="resultsFor">Results for "{{location}}"</p>
            
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="placeName">{{placeName}}</p>
            <p id="latitude">{{latitude}}</p>
            <p id="longitude">{{longitude}}</p>
            <p id="summary">{{summary}}</p>
            <p id="rain">{{rain}}</p>
            <p id="temperature">{{temperature}}</p>

            </div>
        {{>footer}}
{{!-- only load js file after the html elements loaded --}}
        <script src="/js/app.js"></script>
    </body>
    
</html>