
            <img class="imgAll" src="img/weather/home.png">
            
            <p>{{description}}</p>
            <p id="infoMessage">Results for "{{location}}"</p>
            <p id="errMessage"></p>
            
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>

            <p id="placeName">{{placeName}} {{temperature}}</p>
            <p id="highlow">{{high}} {{low}}</p>
            <p id="latitude">{{latitude}}</p>
            <p id="longitude">{{longitude}}</p>
            <p id="summary">{{summary}}</p>
            <p id="rain">{{rain}}</p>

<script src="js/weather/clientWeather.js"></script>